Repository panel-attack/panel-game, pull requests merged in 2025-02, with the labels that each got.

#587 Fix crash when trying to manage mods after a theme switch
  client/src/FileUtils.lua
  client/src/mods/Stage.lua
  client/src/mods/Theme.lua
  client/src/scenes/CharacterSelect.lua
  client/src/scenes/ModManagement.lua
  client/src/ui/GridCursor.lua
  client/tests/ThemeTests.lua
Labels: bug, Cleanup, Client-side

#582 Add ability to set debug username
  client/src/ChallengeMode.lua
  client/src/FileUtils.lua
  client/src/Game.lua
  client/src/PuzzleSet.lua
  client/src/Shortcuts.lua
  client/src/config.lua
  client/src/developer.lua
  client/src/network/LoginRoutine.lua
  client/src/puzzles.lua
  client/src/save.lua
  client/src/scenes/InputConfigMenu.lua
  client/src/scenes/SetUserIdMenu.lua
  client/src/scenes/TrainingMenu.lua
  client/tests/AttackFileGenerator.lua
  common/engine/Puzzle.lua
  common/lib/dkjson.lua
  common/tests/engine/GarbageQueueTestingUtils.lua
  conf.lua
  main.lua
Labels: Cleanup, Client-side

#611 Group system related functions in a system library
  client/src/BattleRoom.lua
  client/src/Game.lua
  client/src/developer.lua
  client/src/scenes/MainMenu.lua
  client/src/scenes/OptionsMenu.lua
  client/src/scenes/PortraitGame.lua
  client/src/system.lua
  client/src/ui/MenuItem.lua
  main.lua
Labels: Cleanup, low-ish priority

#612 Improve replay+rollback performance
  client/src/PlayerStack.lua
  client/src/network/PlayerStack.lua
  common/engine/Match.lua
  common/engine/Panel.lua
  common/engine/RollbackBuffer.lua
  common/engine/Stack.lua
  common/tests/engine/StackReplayTestingUtils.lua
  common/tests/engine/StackReplayTests.lua
  common/tests/lib/InputTests.lua
  docs/Understanding the Codebase.md
Labels: enhancement, Cleanup, engine

#613 Gather UI widgets in a table for easy access and identification
  client/src/scenes/ChallengeModeMenu.lua
  client/src/scenes/ChallengeModeRecapScene.lua
  client/src/scenes/CharacterSelect.lua
  client/src/scenes/CharacterSelect2p.lua
  client/src/scenes/CharacterSelectChallenge.lua
  client/src/scenes/CharacterSelectVsSelf.lua
  client/src/scenes/DesignHelper.lua
  client/src/scenes/EndlessMenu.lua
  client/src/scenes/GameBase.lua
  client/src/scenes/InputConfigMenu.lua
  client/src/scenes/Lobby.lua
  client/src/scenes/MainMenu.lua
  client/src/scenes/ModManagement.lua
  client/src/scenes/OptionsMenu.lua
  client/src/scenes/PortraitGame.lua
  client/src/scenes/PuzzleMenu.lua
  client/src/scenes/Scene.lua
  client/src/scenes/SetNameMenu.lua
  client/src/scenes/SetUserIdMenu.lua
  client/src/scenes/SoundTest.lua
  client/src/scenes/TimeAttackMenu.lua
  client/src/scenes/TrainingMenu.lua
  client/src/scenes/WindowSizeTester.lua
  client/src/ui/BoolSelector.lua
  client/src/ui/Button.lua
  client/src/ui/ButtonGroup.lua
  client/src/ui/Carousel.lua
  client/src/ui/Grid.lua
  client/src/ui/GridCursor.lua
  client/src/ui/GridElement.lua
  client/src/ui/ImageContainer.lua
  client/src/ui/InputField.lua
  client/src/ui/Label.lua
  client/src/ui/Leaderboard.lua
  client/src/ui/LevelSlider.lua
  client/src/ui/Menu.lua
  client/src/ui/MenuItem.lua
  client/src/ui/MultiPlayerSelectionWrapper.lua
  client/src/ui/PagedUniGrid.lua
  client/src/ui/PanelCarousel.lua
  client/src/ui/PixelFontLabel.lua
  client/src/ui/ScrollContainer.lua
  client/src/ui/ScrollText.lua
  client/src/ui/Slider.lua
  client/src/ui/StackPanel.lua
  client/src/ui/StageCarousel.lua
  client/src/ui/Stepper.lua
  client/src/ui/TextButton.lua
  client/src/ui/ValueLabel.lua
  client/src/ui/init.lua
  client/src/ui/touchHandler.lua
Labels: Cleanup, Client-side, graphics

#563 Refactor Stack:canSwap
  common/engine/Panel.lua
  common/engine/Stack.lua
  common/engine/TouchInputController.lua
  common/tests/engine/StackTests.lua
Labels: Cleanup, engine, Pending-engine-update

#615 Fix AABB check for garbage pieces that are horizontally adjacent
  common/engine/checkMatches.lua
Labels: bug, engine, Pending-engine-update

#619 Fix touch linger
  client/src/PlayerStack.lua
  client/src/TouchInputController.lua
  client/src/TouchInputDetector.lua
  client/src/inputManager.lua
  client/src/ui/touchHandler.lua
  common/engine/Stack.lua
  main.lua
Labels: bug, Cleanup, engine, Pending-engine-update

#621 Fix replay saving
  client/src/BattleRoom.lua
  client/src/ChallengeModePlayerStack.lua
  client/src/ClientMatch.lua
  client/src/ClientStack.lua
  client/src/Game.lua
  client/src/Player.lua
  client/src/PlayerStack.lua
  client/src/graphics/graphics_util.lua
  client/src/mods/Theme.lua
  client/src/network/NetClient.lua
  client/src/scenes/CharacterSelect.lua
  client/src/scenes/CharacterSelect2p.lua
  client/src/scenes/Scene.lua
  client/src/ui/BoolSelector.lua
  client/src/ui/Button.lua
  client/src/ui/LevelSlider.lua
  client/src/ui/PixelFontLabel.lua
  client/src/ui/ScrollContainer.lua
  client/src/ui/Slider.lua
  client/src/ui/TextButton.lua
  client/src/ui/UIElement.lua
  client/src/ui/init.lua
Labels: bug, Cleanup, Client-side
